{% extends 'account/base.html' %}
{% load bootstrap5 %}

{% block base_content %}


<ul class="nav nav-tabs mt-5">
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.url_name == 'company_manage' %}active{% endif %}" href="{% url 'company_manage' %}" aria-current="page" href="#">Компания</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'active_users' %}">Активные пользователи</a>
  </li>
  <li class="nav-item position-relative">
    <a class="nav-link {% if request.resolver_match.url_name == 'unconfirmed_users' %}active{% endif %}" href="{% url 'unconfirmed_users' %}">Ожидают подтверждения</a>
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {% if not_confirmed_users %}{{ not_confirmed_users.count }}{% endif %}
    </span>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'group_all' %}" tabindex="-1">Группы</a>
  </li>
</ul>
{% block content %}
  <div class="row mt-5">
    <div class="col">
        {{ company }}
        {{ company.invitation_link_suffix }}
    </div>
  </div>
{% endblock %}

{% endblock %}

