{% extends 'account/base.html' %}
{% load bootstrap5 %}

{% block title %}Регистрация{% endblock %}

{% block base_content %}


<div class="row mt-5 justify-content-center">
    <div class="col-6">
        <h2 class="text-center">Регистрация нового пользователя</h2>
        <br>
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button "Сохранить" button_type="submit" button_class="btn-primary" %}
        </form>
        <br>
        <span>Уже зарегистрирован? <a href="{% url 'login' %}">Войти.</a></span>
    </div>
</div>
{% endblock %}